body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/Images/TiOL8as.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse { 
    background-color: #E06C7F !important;
    font-size: 20px;
}

.navbar-inverse .navbar-brand {
    color: black !important;
    font-size: 28px;
}

.navbar-inverse .navbar-nav > li > a {
    color: black !important;
}
.center {
text-align: center;
}

.left {
float: left;
}

.right {
float: right;
}

.jumbotron {
background-color: teal;
margin-top: 15px;
color: white;
}

.wifi {
float: right;
}

.footer {
font-size: 18px;
}

div.backgrounddiv {
  background-color: aliceblue;
  border: 1px solid darkgrey;
  margin: 30px;
  padding: 10px 10px 10px 10px;
  background: rgba(180, 227, 200, 0.4);
}

div.backgrounddiv p {
    margin: 5%;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.col-bottom {
  vertical-align: bottom;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #708090;
}

.btn {
padding: 30px;
margin-top: 20px;
color: black;
border: none;
font-size: 25px;
}

.btn1 {
background-color: #A0A68A;
}

.btn2 {
background-color: #9AE8D0;
}

.btn3 {
background-color: #C8F8FF;
}

.btn4 {
background-color: #A8FFBE;
}

.btn5 {
background-color: #DCFFD1;
}

.btn6 {
background-color: #9AC5C8;
}

.pic1 {
   width:250px;
   height:250px;
   background-image:url(/Content/Images/lilly.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 100%;
}

.pic2 {
   width:250px;
   height:250px; 
   background-image:url(/Content/Images/ritz.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 100%;
}

.pic3 {
   width:250px;
   height:250px;
   background-image:url(/Content/Images/buffy.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
display: block;
  margin-left: auto;
  margin-right: auto;
   border-radius: 100%;
}

.picgaines {
   width:250px;
   height:250px;
   background-image:url(/Content/Images/gaines.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   border-radius: 100%;
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.picmary {
   width:250px;
   height:250px;
   background-image:url(/Content/Images/mary.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   border-radius: 100%;
}

.couple1 {
    width:400px;
   height:400px;
   background-image: url(/Content/Images/xena.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   float: left;
}

.couple2 {
   width:400px;
   height:400px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   float: left;
}

.couple3 {
   width:400px;
   height:400px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   float: left;
}

.couple4 {
   width:400px;
   height:400px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   float: left;
}

.couple5 {
   width:400px;
   height:400px;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   display: block;
   float: left;
}

