@{
    ViewBag.Title = "About Gaines and Mary";
}
<h2 class="center">@ViewBag.Title</h2>

<p>He's an IT geek who serves as a volunteer firefighter. 
    She's a Registered Nurse who's attending school for medical IT. 
    
    We both love kayaking, camping, traveling, and enjoy having friends over for board game nights.


"To laugh often and love much... to appreciate beauty, to find the best in others, to give one's self... this is to have succeeded." - Ralph Waldo Emerson</p>
