@{
    ViewBag.Title = "Contact Us";
}
<h2 class="center">@ViewBag.Title</h2>

<address>
    <abbr title="Phone">P: Gaines</abbr>
    615.414.9739  <br>
    <abbr title="Phone">P: Mary </abbr>
    615.543.6299
</address>

<address>
    <strong>Gaines:</strong>   <a href="mailto:Support@example.com">Gaines@Kergosien.net    </a><br />
    <strong>Mary:</strong> <a href="mailto:Marketing@example.com">Mary@Kergosien.net</a>
</address>