@{
    ViewBag.Title = "Contact Us";
}
<h2 class="center">@ViewBag.Title</h2>



<div class="row">
    <div class="col-md-6">
        <h2 class="center">Gaines</h2>
        <div class="picgaines center"></div>
            <h4 class="center">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 615.414.9739
                <br>   
                <br>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Gaines@Kergosien.net 
            </h4>
    </div>
    <div class="col-md-6">
        <h2 class="center">Mary</h2>
        <div class="picmary center"></div>
            <h4 class="center">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 615.543.6299           
                <br>
                <br>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mary@Kergosien.net
            </h4>
    </div>
</div>