
<br>
@using (Html.BeginForm("Town", "Home"))
{
    <button class="btn btn-default btn-lg left">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
}
@using (Html.BeginForm("Guestbook", "Home"))
{
    <button class="btn btn-default btn-lg right">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
}


@{
    ViewBag.Title = "Board Game Index";
}
<h2 class="center">@ViewBag.Title</h2>