
<br>
@using (Html.BeginForm("About", "Home"))
{
    <button class="btn btn-default btn-lg left">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
}
@using (Html.BeginForm("Pets", "Home"))
{
    <button class="btn btn-default btn-lg right">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
}

@{
    ViewBag.Title = "General Information";
}
<h2 class="center">@ViewBag.Title</h2>

<br>
<br>
    <div class="backgrounddiv">
    <h2 class="center"> Front Door Standard Operation:  </h2>
    <p class="center">
        (If lighting is low, press the Schlage button to illuminate the keypad before beginning)
         <br><br><br>
        Locking:  <br> 1. Press the Schlage button. 2. Rotate the thumb-turn away from the hinges of the door.
        <br><br>
        Unlocking: <br>1. Enter a User Code into the keypad. (Last 4 digits of phone number listed on Airbnb) 2. Rotate the thumb-turn toward the hinges.
        <br><br><br>
        *Feel free to come and go as you please. If returning after midnight, a courtesy notification is appreciated* </p>
   
    
     </div>

    <br>
    <div class="backgrounddiv">
        <h2 class="center"> I have the Bed, where's the Breakfast? </h2>
        <p class="center">
            Courtesy snacks and drinks are provided in the guest-rooms. The kitchen is [usually] stocked with fresh fruit and granola bars. 
            <br><br> There are some occasions when Mary may cook a hot breakfast the morning of your stay which guest are welcome to. 
            <br><br> The kitchen is available for use during your stay. Also be sure to visit the "Around Town" tab for restaurants nearby. 
        </p>
    </div>


    <br>
    <div class="backgrounddiv">
    <h2 class="center"> Entertainment  </h2>
    <p class="center">
        *We do not have a cable provider*
        <br><br><br> The TV is controlled by the WiiU which has Netflix, YouTube, and Amazon services as well as many Nintendo games available. <br>
        Extra Wii controllers are in a drawer under the TV for multi-player games. 
        <br><br><br>
        Blue-rays are also located in the drawers under the TV. The blue-ray player is controlled by the black remote. 
        <br><br><br>
        Silver remote: HDMI1- Blue-rays  HDMI2- Stereo HDMI3- XBOX HDMI4- WiiU 
    </p>
    </div>

    <br>
    <div class="backgrounddiv">
    <h2 class="center"> Dirty Laundry </h2>
    <p class="center">
        Guest are welcome to use the Laundry Facilities during their stay.<br> We request guest let us know ahead of time as we may have items in the washer or dryer.
       <br><br> Iron and board are available upon request. 
    </p>
    </div>

    <br>
    <div class="backgrounddiv">
    <h2 class="center"> Hot Tub Time </h2>
    <p class="center">
        The hot-tub temperature is kept at 99 degrees and is available at any time. 
        <br> If you are interested in the hot tub being at a higher temperature, please don't hesitate to ask. 
        <br><br> Big white fluffy towels can be found in the guest bathroom closet. Robes may also be available. 

    </p>
        </div>
