@{
    ViewBag.Title = "General Information";
}
<h2 class="center">@ViewBag.Title</h2>

<br>
<br>

<h3 class="center"> Coming and Going  </h3>
 <p> The code to the front door will be the last 4 digits of the phone number listed on airbnb.com. 
     
     </p>

<h3 class="center"> I have the Bed, where's the Breakfast </h3>

<h3 class="center"> Entertainment  </h3>

<h3 class="center"> Dirty Laundry </h3>

<h3 class="center"> Hot Tub Time </h3>