@{
    ViewBag.Title = "Our Furry 4 Legged Friends";
}
<h2 class="center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <h2 class="center">Lilly</h2class>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="center">Ritz</h2>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2 class="center">Buffy</h2>
       <p>

        </p>
    </div>
</div>