
<br>
@using (Html.BeginForm("General", "Home"))
{
    <button class="btn btn-default btn-lg left">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
}
@using (Html.BeginForm("Town", "Home"))
{
    <button class="btn btn-default btn-lg right">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
}

@{
    ViewBag.Title = "Meet Our Furry Family";
}
<h2 class="center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <h2 class="center">Lilly</h2>
        <div class="pic1 center"></div>
        <br><br>
        <div class="backgrounddiv">
           <p class="center">Lilly is very sweet and very excited towards new faces! She loves anyone who is willing to give her a good butt scratch. She also LOVES to lick.  </p>
        </div>
     </div>

    <div class="col-md-4">
        <h2 class="center">Ritz</h2>
        <div class="pic2 center"></div>
        <br><br>
        <div class="backgrounddiv">
            <p>Ritz is our protective girl. You will more than likely see her in a muzzle as she is known to nip when startled.
            Ritz was abused and abandoned as a puppy and has trust issues with men. </p>
        </div>
    </div>

    <div class="col-md-4">
        <h2 class="center">Buffy</h2>
        <div class="center pic3"></div>
        <br><br> 
        <div class="backgrounddiv">
            <p class="center"> Buffy is an indoor/outdoor kitty and is quite timid. She does not care for being picked up and may sink her claws into your flesh if you do. She does, however, love attention around her neck and belly. </p>
        </div>
    </div>
 </div>

<div class="col-md-12">
    <div class="backgrounddiv">
        <p class="center"> All animals are allowed outside. No leash is required for potty time. Lilly will need to be called back in within a few minutes as she is not trusted to wonder. Rits and Buffy, however,  may want to roam and not come back immediately. This is ok. </p>
    </div>
</div>